<div class="app-wrapper">
  <div class="header-wrapper">
    <app-header
      [searchType]="currentSearchType"
      [loading]="searchLoading$ | async"
      [movieResults]="movieResults$ | async"
      [actorResults]="actorResults$ | async"
      [searchResults]="searchResults"
      (currentSearch)="updateSearchInput($event)"
      (searchTypeUpdate)="updateSearchType($event)"
      (onClearSearch)="clearSearch()"
      (selectedItem)="navigateToSelection($event)"
      (redirectHome)="redirectToHome()"
    />
  </div>
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
  <div class="footer-wrapper"></div>
</div>
